html,
body {
    background-color: #f1e8dc;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.cap{
    color: white;
    font-size: x-large;
    font-family: cursive;
    padding: 1%;
    background-color: #900012;
}
.commandLink{
    margin-left: 1%;
}
.svg-graph{
    box-shadow: inset 0 0 6px;
    background-color: #ea8179;
}

.bottom{
    background-color: #900012;
}

#bottom-link{
    margin-top: 5%;
    color: white;
    margin-left: 50%;
    font-size: x-large;
}
.bottom{
    position: relative;
    left: 0; bottom: 0; top: 1%;
    width: 100%; height: 10%;
}

.content{
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
header:first-line{
    color: white;
}
.svg{
    display: flex;
}
select{
    width: 80%;
}

.text_and_select_form{
    margin-left: 5%;
}

.select{
    background-color: #ea8179;
    border-radius: 20px;
    box-shadow: inset 0 0 6px;
    padding: 10%;
}
.input-form{
    display: flex;
}
.text{
    margin-top: 5%;
    background-color: #ea8179;
    padding: 10px;
    border-radius: 20px;
    box-shadow: inset 0 0 6px;
}
DIV > STRONG{
    color: white;
}

LABEL > STRONG{
    color: white;
}
.send_and_clear{
    margin-top: 5%;
}
#send, #clear{
    width: 48%;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    border-color: white;
    background-color: #ea8179;
    box-shadow: inset 0 0 6px;
}
#clear{
    margin-left: 1%;
}
.text_send_clear{
    color: white;
}
.header_item{
    color: white;
}
.table{
    width: 500px;
    margin-left: 5%;
}
#point{
    transition: all 1s;
}
button:focus {
    outline: none;
}
.result{
    margin-left: 3%;
}
.result th {
    width: 135px;
    height: 60px;
}
.resultHeader{
    background-color: black;
    color: white;
}
.invisForm{
    display: none;
}
.game{
    width: 100%;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    border-color: white;
    background-color: #ea8179;
    box-shadow: inset 0 0 6px;
}
#game{
    color: white;
}